.wrapper {
	background-position: cover;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 10px solid #1C0F13;
}
.aschenbrenner-box {
	height: 200px;
	img {
		width: 30em;
		padding: 10px 0;
	}
	p {
		color: #AFABA9;
		letter-spacing: 7px;
	    font-weight: lighter;
	    margin-top: 28px;
	    font-size: 30px;
	    padding-left: 7px;
	}
	h1, h2, h3, h5 {
		color: #1C0F13;
		font-weight: lighter;
		letter-spacing: 1px;
	}
	a {
		color: #AFABA9;
		font-weight: lighter;
		text-decoration: none;
	}
	a:hover {
		color: #CCC9C8;
	}
	.address {
		margin-top: 35px;
	}
	.coming-soon {
		margin-top: 35px;
	}
}
@media only screen and (max-width:650px){
	.aschenbrenner-box {
		img {
			width: 25em;
			padding: 5px 0;
		}
	}
}
@media only screen and (max-width:490px){
	.aschenbrenner-box {
		padding: 0;
		img {
			width: 20em;
			padding: 2.5px 0;
		}
	}
}


