<div class="wrapper bg-aschenbrenner">
	<div class="aschenbrenner-box text-center fadeIn">
		<span><h2>Aschenbrenner Group Ltd</h2></span>
		<p class="coming-soon">COMING SOON</p>
		<div class="address fadeIn hidden">
			<h4 class="Phone fadeIn"><a href="tel:+44-207-268-4965">+44 (0)207 268 4695</a></h4>
			<h4 class="email fadeIn"><%= link_to "info@aschenbrenner-group.com", "mailto:info@aschenbrenner-group.com"%></h4>
		</div>
	</div>
</div>


